@use "sass:color";
@use "sass:list";

@use "lib/breakpoints";
@use "lib/headings";
@use "lib/clear-fix";
@use "lib/inputs-with-types";
@use "lib/disable-password-autocomplete";
@use "lib/small-and-large-elements";
@use "lib/input-with-clear-button";
@use "lib/sticky-footer";

@use "colors";
@use "sizes";
@use "fonts";

@use "components/header";
@use "components/footer";
@use "components/flash";
@use "components/forms";
@use "components/page";

* {
	position: relative;

	// outline: none;

	&:not(svg) {
		box-sizing: border-box;
	}
}

body {
	margin: 0;
	font-family: fonts.$main-font-family;

	.hidden {
		display: none !important;
	}

	:disabled {
		cursor: not-allowed;
	}

	.container {
		max-width: sizes.$container-max-width;
		padding: 0 15px;
		margin: 0 auto;
	}

	a {
		text-decoration: none;
		color: colors.$link-text-color;

		&:hover {
			text-decoration: underline;
		}

		&[href^="mailto:"] {
			white-space: nowrap;
		}
	}

	label,
	a {
		&.button {
			@extend %button;

			display: inline-block;
		}
	}

	// .icon {
	// 	&.baseline {
	// 		// https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4#6e0c
	// 		bottom: -0.125em;
	// 	}
	// }

	@mixin custom-background-color($background-color) {
		background: $background-color;
		border-color: $background-color;

		&:focus {
			$focus-color: color.adjust($background-color, $lightness: -10%);

			background: $focus-color;
			border-color: $focus-color;
		}

		&:disabled {
			$disabled-color: color.mix($background-color, #ddd);

			background: $disabled-color;
			border-color: $disabled-color;
		}
	}

	@include input-with-clear-button.styles;

	// https://stackoverflow.com/a/23211766/2630849
	#{inputs-with-types.selector("text", "email", "password", "number", "url", "search")},
	textarea {
		appearance: none;
	}

	#{inputs-with-types.all-horizontal-selector()},
	textarea,
	select,
	.cccombo > button {
		&:disabled {
			color: #333;
			background: #f5f5f5;
		}
	}

	#{inputs-with-types.all-horizontal-selector()},
	textarea,
	select,
	button,
	%button {
		// Fix for Safari :see_no_evil:
		margin: 0;
		padding: sizes.$input-padding;

		font: {
			size: inherit;
			family: inherit;
		}

		line-height: sizes.$input-line-height;
		color: black;
		background: white;
		border: sizes.$input-border-width solid colors.$input-border-color;
		border-radius: sizes.$input-border-radius;
	}

	textarea {
		border-radius: sizes.$common-border-radius;
	}

	select {
		$svg-size: 24;

		appearance: none;

		background: {
			image: url(
				"data:image/svg+xml;utf8,<svg fill='black' height='#{$svg-size}' viewBox='0 0 #{$svg-size} #{$svg-size}' width='#{$svg-size}' xmlns='http://www.w3.org/2000/svg'><path d='M7 9l5 5 5-5z'/></svg>"
			);
			repeat: no-repeat;
			position-x: 100%;
			position-y: center;
		}

		padding-right: #{$svg-size}px;

		white-space: normal;
	}

	input {
		&[type="range"] {
			padding-left: 0;
			padding-right: 0;
			border: none;
		}

		&[type="color"] {
			box-sizing: content-box;
			padding: 0 0.2em;
			height: sizes.$input-line-height + sizes.$input-vertical-padding * 2;
		}
	}

	@mixin primary {
		@include custom-background-color(colors.$accent-background-color);

		color: white;
	}

	@mixin warning {
		@include custom-background-color(colors.$warning-background-color);

		color: white;
	}

	@mixin danger {
		@include custom-background-color(colors.$danger-background-color);

		color: white;
	}

	@mixin success {
		@include custom-background-color(colors.$success-background-color);

		color: white;
	}

	@mixin secondary {
		@include custom-background-color(colors.$footer-background-color);

		color: white;
	}

	// @mixin tertiary {
	// 	@include custom-background-color($tertiary-background-color);
	// }

	@mixin light {
		@include custom-background-color(white);

		color: colors.$accent-text-color;
		border-color: colors.$accent-background-color;

		&:focus {
			border-color: colors.$accent-background-color;
		}
	}

	button {
		@include custom-background-color(white);

		border-color: colors.$input-border-color;
		border-radius: sizes.$button-border-radius;

		&.small {
			font-size: 0.875em;
			padding: 0.2em 0.7em;
		}

		&.large {
			font: {
				size: 115%;
				weight: bold;
			}

			text-transform: uppercase;
			padding: 0.5em 0.8em;
		}

		&.primary {
			@include primary;
		}

		&.warning {
			@include warning;
		}

		&.danger {
			@include danger;
		}

		&.success {
			@include success;
		}

		&.secondary {
			@include secondary;
		}

		// &.tertiary {
		// 	@include tertiary;
		// }

		&.light {
			@include light;
		}
	}

	.cccombo > button {
		border-radius: sizes.$input-border-radius;
	}

	#{inputs-with-types.all-horizontal-selector()} {
		@include input-with-clear-button.padding-styles {
			+ button:focus {
				outline-color: color.adjust(colors.$highlight-background-color, $lightness: -15%);
			}
		}
	}

	@include header.styles;
	@include footer.styles;
	@include flash.styles;
	@include forms.styles;
	@include page.styles;

	@include sticky-footer.styles;
}
